body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: beige;
  /* background-color: rgb(3, 221, 236); */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: linear-gradient(
    to left, 
    rgb(119, 116, 116) 0%,
    rgb(243, 240, 240) 100%
    
  );
}
